#menu {
  position: fixed;
  width: 100%;
  height: 60px;
  font: 14px Comic Sans MS;
}
/* Color of Page */
body {
  background-color: #f8f29d;
}
/* Put menu items in line and make spaces */

#menu ul {
  background: rgb(214, 249, 255);
  margin: 10px 15px;
  position: relative;
}
#menu ul li {
  margin: 10px 15px;
  display: inline-block;
  position: relative;
}

#menu ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

#menu li :hover {
  background-color: white;
}

#title {
  font: bold 40px Comic Sans MS;
  background: #92ee9a;
  text-align: center;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 100px;
}


#align {
    background: #f8f29d;
    text-align: center;
}

img {
    border-radius: 25px;
    border: 3px solid black;
	text-align: center;
}

/* #photo {
align-items: center;
margin:auto;
width: 40%;
padding: 50px;
} */

#iframe {
    display: block;
    border-style:none;
	
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #555;
}

input[type=email], select {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #555;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    input[type=submit]:hover {
        background-color: #45a049;
    }

	.emoji-drawer {
		display: grid;
	
		grid-template-columns: repeat(3, 1fr);
	
		width: 100px;
	
		margin-bottom: 32px;
		transition: opacity 0.2s;
	}
	
	.hidden {
	  opacity: 0;
	}
	
	.emoji {
		text-align: center;
		font-size: 24px;
		padding: 8px;
	}
	
	.emoji:hover {
		cursor: pointer;
	}

	#contact ul li {
		margin: 10px 15px;
		display: inline-block;
		position: relative;
	  }